<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" property="og:title" content="Nour Eddein portfolio we app">
  <meta name="image" property="og:image" content="/IMG_20180402_123402_307.webp">
  <meta name="description" property="og:description" content="Nour Eddein portfolio web app">
  <link rel="shortcut icon" type="image/jpg" href="/portfolio.webp" />
  <title>Portfolio</title>
  <link rel="stylesheet" href="/css/all-style-files.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous" />
</head>

<body>
  <div id="page_top"></div>
  <%- include('./partials/header') %>
    <main>
      <%- include('./partials/about-me') %>
        <%- include('./partials/skills') %>
          <%- include('./partials/projects') %>
            <%- include('./partials/contact-me') %>
    </main>



    <%- include('./partials/footer') %>
      <a href="#page_top" class="BTT-button">
        <i class="fas fa-chevron-circle-up"></i>
      </a>
      <%- include('./partials/scripts') %>




</body>

</html>